{% load color %}


<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1 class="col s12">Инфляция в России</h1>
        <div class="form-row text-center">
            <table class="u-full-width">
        <thead>
        <tr>
            <th>Год</th>
            <th>Январь</th>
            <th>Февраль</th>
            <th>Март</th>
            <th>Апрель</th>
            <th>Май</th>
            <th>Июнь</th>
            <th>Июль</th>
            <th>Август</th>
            <th>Сентябрь</th>
            <th>Октябрь</th>
            <th>Ноябрь</th>
            <th>Декабрь</th>
            <th>Сумма</th>
        </tr>
        </thead>
        <!-- Ваша логика -->
                <tbody>
      {% for element in month %}
        <tr>
          <td>{{ element.Year }}</td>
          <td style="background-color: {{ element.January|color_function }}">
{{ element.January }}
</td>
          <td style="background-color: {{ element.February|color_function }}">
{{ element.February }}
</td>
          <td style="background-color: {{ element.March|color_function }}">
{{ element.March }}
</td>
           <td style="background-color: {{ element.April|color_function }}">
{{ element.April }}
</td>
           <td style="background-color: {{ element.May|color_function }}">
{{ element.May }}
</td>
          <td style="background-color: {{ element.June|color_function }}">
{{ element.June }}
</td>
          <td style="background-color: {{ element.July|color_function }}">
{{ element.July }}
</td>
         <td style="background-color: {{ element.August|color_function }}">
{{ element.August}}
</td>
         <td style="background-color: {{ element.September|color_function }}">
{{ element.September}}
</td>
          <td style="background-color: {{ element.October|color_function }}">
{{ element.October}}
</td>
          <td style="background-color: {{ element.November|color_function }}">
{{ element.November}}
</td>
          <td style="background-color: {{ element.December|color_function }}">
{{ element.December}}
</td>
          <td style="background-color: Gray">{{ element.Summ }}</td>
      {% endfor %}
      </tbody>
            </table>
        </div>
      </div>
    {% endblock %}

  </body>
</html>